<h1>Bugbot</h1>
<p>Github issues for Slack</p>

<% if (ok) { %>
  <div style=color:green;>
    <%- msg %>
  </div>
<% } else { %>
  <div style=color:red;>
    <%- msg %>
  </div>
<% } %>

<h3>Install</h3>
<p><%- button() %></p>

<h2>Usage</h2>
<pre>
/bugbot [ help ]
</pre>
