<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bugbot</title>
  <style>
  <!-- build:include ../css/styles.min.css -->
  <!-- /build -->
  </style>
</head>
<body>

  <header class="header">
    <h1>Bugbot</h1>
    <p>Github issues for Slack</p>
  </header>
  <section class="content">
  </section>
  <section class="updates">
  </section>
  <footer class="footer">
  </footer>

  <% if (ok) { %> <div style=color:green;>
      <%- msg %>
    </div>
  <% } else { %>
    <div style=color:red;>
      <%- msg %>
    </div>
  <% } %>

  <h3>Install</h3>
  <p><%- button() %></p>

  <h2>Usage</h2>
  <pre>
  /bb [ help ]

</pre>
</body>
</html>

