<h1>Bugbot</h1>
<p>Work with Github without having to leave Slack.</p>

<% if (ok) { %>
  <div style=color:green;>
    <%- msg %>
  </div>
<% } else { %>
  <div style=color:red;>
    <%- msg %>
  </div>
<% } %>

<h3>Install</h3>
<p><%- button %></p>

<h2>Usage</h2>
<pre>
/bb [ list | new | help ]
</pre>
