*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  border: none;
  outline: 1px solid #48EAAB;
}

body {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  color: #565F5F;
}

.header {
  background-color: #00BD7D;
  color: #48EAAB;
}

.content {
  color: #565F5F;
}

.updates {
  background-color: #48EAAB;
}

.open-source {
  background-color: #00BD7D;
  color: #48EAAB;
}

.footer {
  background-color: #454545;
  color: #C0C0C0;
}
