:root {
  --c: #00BD7D;
  --c-1: #48EAAB;
  --c-2: #50E3C2;
  --c-3: #454545;
  --c-4: #C0C0C0;
  --t: #565F5F;
  --w: 21.625rem;
  --w-1: 53.125rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  border: none;
  outline: 1px solid var(--c-1);
}

body {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
  color: var(--t);
}

.header {
  padding-top: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  background-color: var(--c);
  color: var(--c-1);
}

.header-contents {
  max-width: var(--w);
  margin: 0 auto;
}

.bugbot-icon {
  max-width: 5.75rem;
  max-height: 5.75rem;
  margin: 0 auto;
  margin-bottom: 2.25rem;
}

.bugbot-logo {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
  margin-bottom: .25rem;
}

.bugbot-tag {
  font-size: 2.39rem;
  margin-bottom: 2.3125rem;
}

#add-to-slack-button {
  max-width: 16.3125rem;
}

.content {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  text-align: left;
  color: var(--t);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-item {
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.between {
  justify-content: space-between;
}

.content-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--c);
}

.content-text {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  color: var(--c-3);
}

.updates {
  background-color: var(--c-1);
}

.open-source {
  background-color: var(--c);
  color: var(--c-1);
}

.footer {
  background-color: #454545;
  color: #C0C0C0;
}

@media only screen and (min-width: 37.5em) {

  .header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .content {
    padding-top: 5rem;
    max-width: var(--w-1);
  }

  .content-text {
    margin-bottom: 0;
  }

  .row {
    flex-direction: row-reverse;
  }

  .row-item {
    flex-basis: 45%;
    max-width: 45%;
  }

}

