:root {
  --c: #00BD7D;
  --c-0: #FFFFFF;
  --c-1: #48EAAB;
  --c-2: #50E3C2;
  --c-3: #454545;
  --c-4: #C0C0C0;
  --c-5: #C3C3C3;
  --c-6: #888888;
  --slack-code-color: #CC2255;
  --slack-code-bg: #F7F7F9;
  --slack-code-border: #E1E1E8;
  --notify: #FF4C5F;
  --t: #565F5F;
  --w: 25rem;
  --w-1: 60rem;
  --w-2: 40rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  border: none;
  outline: none;
}

body {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
  color: var(--t);
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.inline-anchor {
  color: var(--t);
}

.code {
  padding: 0 0.25rem;
  font-size: 0.9rem;
  border: 1px solid var(--slack-code-border);
  border-radius: 3px;
  background-color: var(--slack-code-bg);
  color: var(--slack-code-color);
}

.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.25rem;
  background-color: var(--c-3);
  color: var(--c-0);
}

.excite {
  margin-top: -5px;
  font-size: 3rem;
  color: var(--c-1);
}

.bummer {
  margin-top: -5px;
  font-size: 3rem;
  color: var(--notify);
}

.anchor:hover,
.anchor:visited,
.anchor:active,
.anchor {
  text-decoration: none;
  font-weight: 500;
  color: var(--notify);
  border-bottom: 1px solid var(--notify);
}

.header {
  padding-top: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  background-color: var(--c);
  color: var(--c-1);
}

.header-contents {
  max-width: var(--w);
  margin: 0 auto;
}

.bugbot-icon {
  max-width: 5.75rem;
  margin: 0 auto;
  margin-bottom: 2.25rem;
}

.bugbot-logo {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: .25rem;
}

.bugbot-tag {
  font-size: 1.58rem;
  margin-bottom: 2.3125rem;
}

#add-to-slack-button {
  max-width: 16.3125rem;
}

.content {
  padding: 2rem;
  margin: 0 auto;
  text-align: left;
  color: var(--t);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.row-content {
  margin-bottom: 6rem;
}

.row-item {
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.reverse {
  flex-direction: row;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.card {
  display: block;
  max-width: 22rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  padding: 3rem;
  text-decoration: none;
  background-color: var(--c-0);
  color: var(--c-3);
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.card:hover,
.card:active,
.card:visited {
  color: var(--c-3);
  text-decoration: none;
}

.card-heading {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.open-source-icon {
  max-width: 5.4375rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

.bugbot-heading {
  color: #0091FF;
}

.slack-express-heading {
  color: #E80D70;
}

.slack-js-heading {
  color: #18C896;
}

.slack-ui-heading {
  color: #880032;
}

.heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--c);
}

.sub-heading {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.sparks-container {
  max-width: 16rem;
  margin: 0 auto;
}

.sparks {
  max-width: 16rem;
}

.sparks-button {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  max-width: 10.9375rem;
  margin-top: -78px;
  margin-left: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1px #F0F0F0;
}

.sparks-button:active {
  opacity: 0.75;
}

.content-text {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  color: var(--c-3);
}

.updates {
  padding-top: 2.125rem;
  padding-right: 2rem;
  padding-bottom: 2.375rem;
  padding-left: 2rem;
  background-color: var(--c-1);
}

.updates-heading {
  margin-bottom: 1.625rem;
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--c-0);
}

.updates-contents {
  max-width: var(--w-2);
  margin-right: auto;
  margin-left: auto;
}

.updates-message {
  margin-bottom: 2.8125rem;
  font-size: 1.125rem;
}

.form {
  padding-right: 2.625rem;
  padding-left: 2.625rem;
  margin-bottom: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  width: 100%;
}

.input {
  appearance: none;
  padding: 1.5rem;
  height: 3rem;
  text-align: center;
  font-size: inherit;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--c-3);
}

.input:placeholder {
  padding: 0.5rem;
  color: var(--c-5);
}

.button {
  appearance: none;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 1rem;
  background: var(--c);
  border: transparent;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: var(--c-0);
  opacity: 1;
}

.button:active {
  opacity: 0.75;
}

.worries {
  color: var(--c);
}

.open-source {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--c);
  color: var(--c-1);
}

.open-source-heading {
  margin-bottom: 2.5rem;
  font-weight: 500;
  color: var(--c-1);
}

.open-source-contents {
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  max-width: var(--w-1);
}

.footer {
  padding-top: 3.75rem;
  padding-bottom: 2rem;
  background-color: var(--c-3);
  color: var(--c-6);
}

.footer-contents {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  max-width: var(--w-1);
}

.auto {
  flex-grow: 1;
  max-width: 100%;
}

.bold {
  font-weight: 700;
  letter-spacing: 0.7px;
}

.loves {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 48em) {

  .header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: var(--w-1);
  }

  .content-text {
    margin-bottom: 0;
  }

  .updates {
    padding-top: 4.125rem;
    padding-bottom: 4.375rem;
  }

  .label {
    flex-direction: row;
    font-size: 1.125rem;
  }

  .input {
    width: 70%;
    height: 4.5rem;
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .button {
    padding: 0;
    width: 30%;
    font-size: 1.15rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .open-source {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .open-source-heading {
    margin-bottom: 5rem;
    font-size: 2.39rem;
  }

  .card {
    max-height: 22rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .row-item {
    flex-basis: 45%;
    max-width: 45%;
  }

}

